:root {
    --main-margin: 10vw;
    --header-height: 660px;
    --avancee-margin: 70px;
    --large-header-height: 35vh;

}
* {
    margin: 0;
    padding : 0;
}

body {
    margin: 0;
    padding : 0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    max-width: 1440px; /* Limite la largeur de la page */
    box-sizing: border-box;
}

/* Centrage et style de la barre de recherche */
header {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Centers vertically */
    justify-content: center;/* Centers horizontally (optional) */
    max-width: 1440px; /* Limite la largeur de la page */
    width: 100vw;
    color: #f9f9f9;
    padding: 0;
    text-align: center;
    margin-left: 0px;
    height: 605px;
    background-image: url('image-du-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header h1 {
    position: relative;
    top: 12%;
    left: -2%;
    font-family: Anton,sans-serif;
    font-size: clamp(1.5rem, 3.5vw, 2rem);
    font-weight: bold;
    line-height: 1.5;
    width: 50vw;
    color:hsla(49, 96%, 53%, 0.937);
    z-index: 10;
    letter-spacing: -3px; /* Espacement réduit */
}

header input {
    display: block;
    width: 75vw;
    max-width: 954px; /* Largeur spécifique */
    height: 24px; /* Hauteur spécifique */
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    /*margin: 0 auto; *//* Centrage horizontal */
    z-index: 10;
}

.search-bar-container {
    display: flex;
    position: relative; /* Pour positionner la loupe par rapport au conteneur */
    top: 12%;
    left: -2%;
    max-width: 954px; /* Largeur spécifique */
    width: 70vw;
    height: 58px; /* Hauteur spécifique */
    border-radius: 10px;
    overflow: hidden; /* Pour garder la loupe à l'intérieur du champ */
    background: white;
    align-items: center; /* aligner horizontalement le text et l'icone */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* Centré horizontalement */
    margin-top: 16px;
}

/* Champ de saisie */
#search-bar-input {
    display: flex;
    width: 85%;
    font-family: Anton,sans-serif;
    font-size: clamp(1rem, 2vw, 2.5rem);
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100%;
    border: none;
    outline: none;
    padding: 10px 20px 10px 20px; /* Espacement interne */
    box-sizing: border-box;
    border-radius: 5px 0 0 5px; /* Garde les coins arrondis à gauche */
}

.search-icon {
    width: 32px;
    height: 32px;
    margin-left: 6vw; /* Espace entre l'icône et le bord droit */
    fill: white; /* Couleur de l'icône */
    pointer-events: none; /* Empêche l'interaction avec l'icône */
    background-color: black;
    border-radius: 7px; /* Garde les coins arrondis à gauche */
}

#rechercheAvancee {
    display: grid;
    grid-template-columns: 15vw 15vw 15vw 1fr;
    column-gap: 0.8vw;
    background-color: #bebebe;
    padding: 18px var(--avancee-margin) 10px calc(var(--avancee-margin) + 10px);
    margin: 0;
}

.listContainer {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 5px 0 0 8px;
    background-color: #f9f9f9;
    margin-top: 16px;
}
  
.listContainer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
  
.listContainer-header span {
    flex: 1;
    font-size: 0.8rem;
}
  
.ingredients-arrow {
    width: 12px;
    height: 10px;
    cursor: pointer;
    margin-right: 12px;
}

.lastListContainer {
    width: 95%;
    border: none;
    padding: 5px 0 0 8px;
    background-color: #bebebe;
    margin-top: 16px;
    display: flex;
    justify-content: right;
}

#nbRecettes {
    margin-right: 0;
    font-weight: bold;
}

/********************************************************/

/* Style général */
/*#dropdownIngredients,*/
.dropdown {
    width: 100%;
    position: relative;
    display: inline-block;
}

.dropdown-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(80%);
    padding: 18px 0 18px 8px;
    margin : 0;
    margin-top: 16px;
    background-color: white; /*#3498db;*/
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.dropdown-button:hover {
    background-color: #e0e0c4 /*#2980b9;*/
}

.dropdown-button.open {
    border-radius: 5px 5px 0 0;
}

.dropdown-button span {
    /*flex: 0.5;*/
    font-size: 0.8rem;
    font-weight: bold;
    text-align: left;
    padding-left: 12px;
}

.dropdown-arrow {
    width: 10px;
    height: 8px;
    cursor: pointer;
    margin-left: -4px;
    margin-right: 12px;
}


.dropdown-arrow {
    transition: transform 0.3s ease;
    /*transform: rotate(0deg);*/
}

.dropdown-arrow.open {
    transform: rotate(180deg);
}

.dropdown-content {
    position: absolute;
    top : 100%;
    /*display: none;*/
    width: calc(80%);
    background-color: #fdfdfd/*#f5e485*/;
        /* Animation */
        opacity: 0;
        visibility: hidden;
        transform: scaleY(0); /*0 :la liste est complètement aplatie verticalement,donc invisible */
        transform-origin: top;
        transition: opacity 0.3s ease, transform 0.5s ease, visibility 0.3s;
}

.dropdown-content.open {
    top : 100%;
    width: 80%;
    max-height: 14em;
    overflow: scroll;
    padding: 0px;
    padding-right:0px;
    margin-top: -1px;
    border-radius: 0 0 5px 5px;
    border: none;
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: scaleY(1); /* ouverture de la liste */
}

.dropdown-content.open .highlighted {
    background-color: #f89538;
}

.dropdown-content ul {
    padding-left : 8px;
    font-size: 0.9rem;
}
.dropdown-content li {
    list-style-type: none; /* Removing the dots before <li> */
    padding: 5px;
    cursor: pointer;
}

.dropdown-content li:hover {
    background-color: #f1f1f1;
}

.ingredient-search,
.appliance-search,
.ustensil-search {
    position: sticky;
    top: 5px;
    max-width:calc(75%);
    font-size: 0.8rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 8px;
    margin-top: 10px;
    margin-left: 8px;
}

/* //// 2.0 open  */
.selected-items-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #bebebe;
    padding: 8px var(--avancee-margin) 8px calc(var(--avancee-margin) + 0.5vw);
}

.selected-items-tag {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 11%;
    font-size: 0.8rem;
    padding: 10px 15px;
    background-color: #ffd15b;
    border-radius: 10px;
    gap: 8px;
}

.selected-items-tag button {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

/* //// 2.0 close  */


/********************************************************/

/* Conteneur des recettes */
.recipes-container {
    position: relative;
    top: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 3 columns */
    align-items: stretch; /* Forces all grid items to take the same height */
    grid-auto-rows: 1fr; /* Ensures each row has the same height */
    gap: 20px 20px 0 20px;
    column-gap: 2vh;
    justify-items : center; /* Aligne les recettes au centre */
    padding: 20px var(--avancee-margin) 20px 80px;
    background-color: #bebebe;
}

/* Carte individuelle de recette */
.recette-card {
    display: flex; /* Enables stretching */
    flex-direction: column; /* Stack content inside */
    font-family: 'Arial', sans-serif;
    background: white;
    border: 1px solid #ddd;
    border-radius: 16px;
    width : calc(1*(100% - var(--avancee-margin)));    /* pour afficher 3 cartes par rangée */
    padding: 2vh;
    padding-top: 0;
    margin-top: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.recette-card img {
    width: calc(100% + 4.2vh);
    margin-top: -2px;
    margin-left: -2.1vh;
    height: 33%;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.recette-card h2 {
    font-family: Helvetica, sans-serif;
    margin: 10px 0;
    font-size: 18px;
    letter-spacing: -1.5px; /* Espacement réduit */
    text-align: left;
}
.recette-card h3 {
    font-family: Helvetica, sans-serif;
    color: #666;
    font-size: 12px;
    letter-spacing: -0.8px; /* Espacement réduit */
    margin-top: 24px;
    text-align: left;
}

.recette-card p {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    color: #666;
    max-height: 5em;
    overflow:hidden;
    text-align: left;
    margin-top: 0;
}

p.duree {
    position: relative;
    top : -170px;
    right : -80%;
    background-color: #fde13f;
    width : 50px;
    padding : 5px;
    font-size: 0.8rem;
    border-radius: 50px;
    text-align: center;
}

.recette-card .recette,
.recette-card .ingredients-container {
    letter-spacing: -0.2px; /* Espacement réduit */
}

.ingredients-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}
.ingredients-list {
    font-size: 14px;
    line-height: 1.2;
    list-style-type: none; /* Supprime les puces */
    padding: 0; /* Retire le padding par défaut du <ul> */
    margin: 0; /* Retire la marge par défaut du <ul> */
    text-align: left;
}

.ingredients-list li {
    margin-bottom: 10px;
    color: #666;
}

.ingredient-name {
    color: #222;
}


@media (max-width: 1300px) {

    header h1 {
        width: 65vw;
    }
    .search-bar-container {
        width: 65vw;
        height: 48px; 
    }
}

@media (max-width: 1024px) {

    #search-bar-input {
        font-size: 0.8rem;
        padding: 12px;
    }
    .search-icon {
        margin-right: 1.5vw; /* Espace entre l'icône et le bord droit */
    }
    #rechercheAvancee {
        column-gap: 2vw;
        padding: 18px calc(0.5*var(--avancee-margin)) 10px calc(0.5*var(--avancee-margin));
        width: calc(100% - var(--avancee-margin));
    }
    .recipes-container {
        grid-template-columns: 1fr 1fr;
        padding: 10px 30px;
    }
    .dropdown {
        width: 100%; /* Full width */
    }
    .dropdown-button {
        width: 100%;
        padding: 14px 8px 14px 8px;
    }
    .dropdown-content {
        width: 100%;
    }
    .dropdown-content.open {
        width: calc(100%);
    }
    .dropdown-button span {
        font-size: 0.8rem;
        padding-left: 6px;
    }
    .selected-items-container {
        padding:10px 0 10px calc(0.5*var(--avancee-margin));
    }
}

@media (max-width: 800px) {

    .search-icon {
        margin-right: 2vw; /* Espace entre l'icône et le bord droit */
    }
    #rechercheAvancee {
        grid-template-columns: 1fr 1fr;
        column-gap: 2vh;
    }
    .recipes-container {
        padding: 10px;
        column-gap: 0.1vh;
        grid-auto-rows: 1fr; /* Ensures each row has the same height */
    }
    .dropdown-content.open {
        padding: 14px 1px 14px 0px;
    }
    .selected-items-tag {
        width: 20%;
    }    
}

@media (max-width: 600px) {

    header h1 {
        width: 65vw;
        font-size: clamp(0.9rem, 3.5vw, 34px);
        letter-spacing: -2px; /* Espacement réduit */
    }
    .search-bar-container {
        width: 65vw;
        height: 48px; 
    }
    p.duree {
        right: -65%;
    }
}

@media (max-width: 550px) {
    header {
        height: 30vh; 
    }
    .search-icon {
        width: 24px;
        height: 24px;
    }
    .recipes-container {
        grid-template-columns: 1fr;
        padding: 10px;
    }
    .recette-card img {
        height: 25vh;
    }

    .selected-items-tag {
        width: 25%;
    }
    p.duree {
        top: -24vh;
        right: -80%
    }
}

@media (max-width: 420px) {
    #rechercheAvancee {
        grid-template-columns: 1fr;
        column-gap: 2vh;
        padding: 18px calc(0.5*var(--avancee-margin)) 10px calc(0.5*var(--avancee-margin));
        width: calc(100% - var(--avancee-margin));
    }
}