:root {
    --main-margin: 10vw;
    --header-height: 660px;
    --avancee-margin: 70px;

}
body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    line-height: 1.6;
    background-color: #464545;
    color: #333;
    width: 80vw;
    max-width: 1440px; /* Limite la largeur de la page */
    box-sizing: border-box;
}

/* Centrage et style de la barre de recherche */
header {
    width: 80vw;
    color: #f9f9f9;
    padding: 0;
    text-align: center;
    margin-left: 0px;
    height: 605px;
    background-image: url('image-du-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header h1 {
    position: relative;
    top: 320px;
    font-family: 'Arial';
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.4;
    width: 45vw;
    color:hsla(49, 96%, 53%, 0.937);
    margin: auto;
    z-index: 10;
    letter-spacing: -0.5px; /* Espacement réduit */
}

header input {
    width: 60vw;
    max-width: 954px; /* Largeur spécifique */
    height: 24px; /* Hauteur spécifique */
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin: 0 auto; /* Centrage horizontal */
    display: block;
}

.search-bar-container {
    position: relative; /* Pour positionner l'icône par rapport au conteneur */
    top: 320px;
    max-width: 954px; /* Largeur spécifique */
    width: 60vw;
    height: 58px; /* Hauteur spécifique */
    margin: 0 auto; /* Centré horizontalement */
    border-radius: 10px;
    overflow: hidden; /* Pour garder l'icône à l'intérieur du champ */
    background: white;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 16px;
}

/* Champ de saisie */
#search-bar-input {
    flex: 1; /* Occupe tout l'espace sauf celui réservé pour l'icône */
    height: 100%;
    border: none;
    outline: none;
    padding: 10px 20px 10px 20px; /* Espacement interne */
    font-size: 18px;
    box-sizing: border-box;
    border-radius: 5px 0 0 5px; /* Garde les coins arrondis à gauche */
}

.search-icon {
    width: 32px;
    height: 32px;
    margin-right: 5px; /* Espace entre l'icône et le bord droit */
    fill: white; /* Couleur de l'icône */
    pointer-events: none; /* Empêche l'interaction avec l'icône */
    background-color: black;
    border-radius: 5px; /* Garde les coins arrondis à gauche */
}

#rechercheAvancee {
    display: grid;
    grid-template-columns: 15vw 15vw 15vw 1fr;
    column-gap: 10px;
    width: calc(100% - 2*var(--avancee-margin) - 10px);
    background-color: #bebebe;
    padding: 18px var(--avancee-margin) 10px calc(var(--avancee-margin) + 10px);
    margin: 0;
}

.listContainer {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 5px 0 0 8px;
    background-color: #f9f9f9;
    margin-top: 16px;
}
  
.listContainer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
  
.listContainer-header span {
    flex: 1;
    font-size: 0.8rem;
}
  
.ingredients-arrow {
    width: 8px;
    height: 8px;
    cursor: pointer;
    margin-right: 12px;
}

.lastListContainer {
    width: 95%;
    border: none;
    padding: 5px 0 0 8px;
    background-color: #bebebe;
    margin-top: 16px;
    display: flex;
    justify-content: right;
}

#nbRecettes {
    margin-right: 0;
    font-weight: bold;
}

/********************************************************/

/* Style général */
/*#dropdownIngredients,*/
.dropdown {
    width: 100%;
    position: relative;
    display: inline-block;
}

.dropdown-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #fdfdfd; /*#3498db;*/
    width: calc(65%);
    padding: 18px 0 18px 8px;
    margin : 0;
    margin-top: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.dropdown-button:hover {
    background-color: #888885 /*#2980b9;*/
}

.dropdown-button.open {
    border-radius: 5px 5px 0 0;
}

.dropdown-button span {
    /*flex: 0.5;*/
    font-size: 0.8rem;
    font-weight: bold;
    text-align: left;
    padding-left: 12px;
}

.dropdown-arrow {
    width: 10px;
    height: 8px;
    cursor: pointer;
    margin-left: -4px;
    margin-right: 12px;
}


.dropdown-arrow {
    transition: transform 0.3s ease;
    /*transform: rotate(0deg);*/
}

.dropdown-arrow.open {
    transform: rotate(180deg);
}

.dropdown-content {
    position: absolute;
    width: calc(65%);
    background-color: #fdfdfd/*#f5e485*/;
    z-index: 1;
        /* Animation */
        opacity: 0;
        visibility: hidden;
        transform: scaleY(0); /*0 :la liste est complètement aplatie verticalement,donc invisible */
        transform-origin: top;
        transition: opacity 0.3s ease, transform 0.5s ease, visibility 0.3s;
}

.dropdown-content.open {
    width: calc(65% - 10px);
    max-height: 14em;
    overflow: scroll;
    padding: 0px;
    padding-right:10px;
    border-radius: 0 0 5px 5px;
    border: none;
    opacity: 1;
    visibility: visible;
    transform: scaleY(1); /* ouverture de la liste */
}

.dropdown-content.open .highlighted {
    background-color: #f89538;
}

.dropdown-content ul {
    padding-left : 8px;
    font-size: 0.9rem;
}
.dropdown-content li {
    list-style-type: none; /* Removing the dots before <li> */
    padding: 5px;
    cursor: pointer;
}

.dropdown-content li:hover {
    background-color: #f1f1f1;
}

.ingredient-search,
.appliance-search,
.ustensil-search {
    position: sticky;
    top: 5px;
    max-width:calc(90% - 14px);
    font-size: 0.9rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 8px;
    margin-top: 10px;
    margin-left: 8px;
}

/* //// 2.0 open  */
.selected-items-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding:10px 0 10px calc(var(--avancee-margin) + 10px);
    background-color: #bebebe;
}

.selected-items-tag {
    font-size: 0.8rem;
    padding: 10px 15px;
    background-color: #ffd15b;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    width: 11%;
}

.selected-items-tag button {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

/* //// 2.0 close  */


/********************************************************/

/* Conteneur des recettes */
.recipes-container {
    position: relative;
    top: 0px;
    width : calc(100% - 2*var(--avancee-margin)-10px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 3 columns */
    gap: 20px;
    justify-items : center; /* Aligne les recettes au centre */
    padding: 20px var(--avancee-margin) 20px 80px;
    background-color: #bebebe;
}

/* Carte individuelle de recette */
.recette-card {
    font-family: 'Arial', sans-serif;
    background: white;
    border: 1px solid #ddd;
    border-radius: 16px;
    width : calc(1*(100% - var(--avancee-margin)));    /* pour afficher 3 cartes par rangée */
    height: 650px;  /* 2025/01/27 ajout */
    /*max-width: 400px;*/ /* Largeur maximale pour éviter de trop grandes cartes */
    /*max-height: 700px;*/ /* 2025/01/27 supprime */
    padding: 20px;
    padding-top: 0;
    margin-top: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.recette-card img {
    width: calc(100% + 40px);
    margin-top: -2px;
    margin-left: -20px;
    height: 33%;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.recette-card h2 {
    font-family: Helvetica, sans-serif;
    margin: 10px 0;
    font-size: 18px;
    letter-spacing: -1.5px; /* Espacement réduit */
    text-align: left;
}
.recette-card h3 {
    font-family: Helvetica, sans-serif;
    color: #666;
    font-size: 12px;
    letter-spacing: -0.8px; /* Espacement réduit */
    margin-top: 24px;
    text-align: left;
}

.recette-card p {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    color: #666;
    max-height: 5em;
    overflow:hidden;
    text-align: left;
    margin-top: 0;
}

p.duree {
    position: relative;
    top : -200px;
    right : -80%;
    background-color: #fde13f;
    width : 50px;
    padding : 5px;
    font-size: 0.8rem;
    border-radius: 50px;
    text-align: center;
}

.recette-card .recette,
.recette-card .ingredients-container {
    letter-spacing: -0.2px; /* Espacement réduit */
}

.ingredients-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}
.ingredients-list {
    font-size: 14px;
    line-height: 1.2;
    list-style-type: none; /* Supprime les puces */
    padding: 0; /* Retire le padding par défaut du <ul> */
    margin: 0; /* Retire la marge par défaut du <ul> */
    text-align: left;
}

.ingredients-list li {
    margin-bottom: 10px;
    color: #666;
}

.ingredient-name {
    color: #222;
}

/* Pied de page */
footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: white;
}